/* Estilos generales */
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #000000;
  color: white;
  padding: 10px;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 15px;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sección principal */
.home-section {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 2.5%;
  flex: 1;
}

.home-content {
  flex: 1;
  text-align: left;
}

.home-content h1,
.home-content p {
  margin: 0;
}

.home-content .highlight {
  color: #c4b70e;
}

.home-image {
  flex: 1;
  text-align: right;
}

.avatar-image {
  width: 450px;
  border-radius: 20%;
  padding: 10%;
  margin: 0;
}

/* Pie de página */
footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  margin-top: auto;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas */
  gap: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin: 5px 0;
}

footer a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

/* Estilo específico para las filas */
.footer-section h3 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.social-links ul,
.page-links ul,
.cybersecurity-terms ul {
  text-align: center;
}

.cybersecurity-terms ul li {
  font-weight: bold;
  color: #ffffff; /* Resaltar las palabras relacionadas con ciberseguridad */
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-content {
      grid-template-columns: 1fr; /* En pantallas pequeñas, todas las filas en una sola columna */
  }
}
